{% extends "navbar.html" %} {% block content %}

<form action="/updpass" method="POST">
    <div class= "update-screen"> 
        <div class="update-title">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'password_error' %}
                        <div class="flash-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
           <h2> Update password</h2>
        </div>
    </div>
    <div class="password-box">
        <input 
            type="password" 
            class="password-input" 
            value=""
            placeholder="Enter your new password"
            name="password"
            />
      </div>
      <input
            type="submit"
            value="Update password"
            class="btn btn-primary btn-large btn-block"
            name="update"
        />
</form>
<a href="/profile">
    <div class="back-button"> Back
    </div>
</a>
{% endblock content %}

